.input {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.input label {
   margin: 2rem;
   font-size: 2rem;
}


.input input {
   height: 2rem;
   width: 70%;
   border-radius: 12px;
   border: 0.5px solid rgb(59, 54, 54);
}

.input input:focus {
   outline: none;
}

.input input[type="text"]::placeholder {
   text-align: center;
}