.card {
   margin: auto;
   margin-top: 4%;
   width: 60%;
   padding: 0.8rem 1rem 1rem;
   background-color: #8294be;
   /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
   border-radius: 20px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   overflow: hidden;
}

@media (max-width: 600px) {
   .card {
      width: 70%;
   }
}

@media (max-width: 432px) {
   .card {
      width: 100%;
   }
}